<div class="flex justify-between w-full mb-3">
  <div class="">
    <!-- <input
      type="text"
      placeholder="Filter users..."
      class="input input-bordered input-sm rounded-md min-w-64"
    /> -->
  </div>
  <div>
    <div class="dropdown dropdown-end">
      <button
        class="btn btn-ghost btn-sm rounded-md"
        tabindex="0"
        role="button"
      >
        <i class="bi bi-three-dots"></i>
      </button>
      <ul
        tabindex="0"
        class="dropdown-content menu menu-sm bg-base-100 rounded-box z-[1] w-32 shadow-lg border-white/10 border"
      >
        <li>
          <button [routerLink]="['add']">
            <i class="bi bi-plus text-success"></i>Add
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="overflow-x-auto w-ful border border-white/15 rounded-md">
  <table class="table table-pin-cols">
    <thead>
      <th class="max-w-4">#</th>
      <th class="min-w-64">Full Name</th>
      <th>Phone No.</th>
      <th>On Duty</th>
      <th>Status</th>
    </thead>
    <tbody>
      @for(runner of runners(); track runner) {
      <tr class="hover hover:cursor-pointer">
        <td>#</td>
        <td>{{ runner.user.name }}</td>
        <td>
          <p>{{ runner.user.phone }}</p>
        </td>
        <td>
          <div
            class="badge badge-lg"
            [ngClass]="runner.isOnDuty ? 'badge-success' : 'badge-error'"
          >
            {{ runner.isOnDuty ? "Yes" : "No" }}
          </div>
        </td>
        <td>
          <div
            class="badge badge-lg"
            [ngClass]="
              runner.status === 'Unverified'
                ? 'badge-warning'
                : runner.status === 'Verified'
                ? 'badge-success'
                : runner.status === 'Rejected'
                ? 'badge-error'
                : runner.status === 'Suspended'
                ? 'badge-error'
                : 'badge-error'
            "
          >
            {{ runner.status }}
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
