<div class="flex justify-end w-full mb-3">
  <div class="dropdown dropdown-end">
    <button class="btn btn-ghost btn-sm rounded-md" tabindex="0" role="button">
      <i class="bi bi-three-dots"></i>
    </button>
    <ul
      tabindex="0"
      class="dropdown-content menu menu-sm bg-base-100 rounded-box z-[1] w-32 shadow-lg border-white/10 border"
    >
      <li>
        <button [routerLink]="['add']">
          <i class="bi bi-plus text-success"></i>Add
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="overflow-x-auto w-ful border border-white/15 rounded-md">
  <table class="table table-pin-cols">
    <thead>
      <th class="max-w-4">#</th>
      <th class="min-w-64">Full Name</th>
      <th>Email</th>
      <th>Phone No.</th>
    </thead>
    <tbody>
      @for(user of userStore.users(); track user; let i = $index) {
      <tr class="hover:cursor-pointer hover">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>
          <p>{{ user.email }}</p>
        </td>
        <td>{{ user.phone }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
