<div class="flex justify-between w-full mb-3">
  <div class="">
    <input
      type="text"
      placeholder="Filter users..."
      class="input input-bordered input-sm rounded-md min-w-64"
    />
  </div>
  <div>
    <div class="dropdown dropdown-end">
      <button
        class="btn btn-ghost btn-sm rounded-md"
        tabindex="0"
        role="button"
      >
        <i class="bi bi-three-dots"></i>
      </button>
      <ul
        tabindex="0"
        class="dropdown-content menu menu-sm bg-base-100 rounded-box z-[1] w-32 shadow-lg border-white/10 border"
      >
        <li>
          <button [routerLink]="['add']">
            <i class="bi bi-plus text-success"></i>Add
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="overflow-x-auto w-ful border border-white/15 rounded-md">
  <table class="table table-pin-cols">
    <thead>
      <th class="max-w-4">#</th>
      <th class="min-w-64">Full Name</th>
      <th>Email</th>
      <th>Phone No.</th>
      <th class="w-4"></th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>John Doe</td>
        <td><p>email&#64;yopmail.com</p></td>
        <td>1234567890</td>
        <td>
          <button class="btn btn-ghost btn-sm rounded-md">
            <i class="bi bi-three-dots"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
