<div
  class="fixed top-0 left-80 min-h-16 max-h-16 flex items-center px-4 justify-between w-[calc(100%-20rem)]"
>
  <div class="h-full">Welcome back '{{ authStore.user()?.name! }}'</div>
  <div class="dropdown dropdown-end">
    <div class="btn btn-neutral btn-circle" tabindex="0" role="button">
      <div class="avatar placeholder">
        <div>
          <span class="font-semibold">AS</span>
        </div>
      </div>
    </div>
    <ul
      tabindex="0"
      class="dropdown-content menu bg-base-100 z-[1] w-52 p-2 shadow-lg border border-white/10 rounded-md"
    >
      <li>
        <button>
          <i class="bi bi-gear-fill text-warning"></i>
          Settings
        </button>
      </li>
      <li>
        <button (click)="logout()">
          <i class="bi bi-box-arrow-in-left text-error"></i>
          Sign Out
        </button>
      </li>
    </ul>
  </div>
</div>
